.blogImg{
    width: 100%;
    border-radius: 10px;
}
.bolgButtonImg{
    width: 60px;
    height: auto;
    border-radius: 50%;
}
.main-blog{
    background: rgb(240, 235, 235);
    margin-bottom: 20px;
}
.blogbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogTopButton{
   margin-bottom: 30px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-bottom: 10px;
}
.blogtop-item{
    margin-bottom: 10px;
}
.contentBlog{
    margin: 1rem;
}
.blogtop-item h5{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(48, 46, 46);

}
.blogtop-item h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(48, 46, 46);

}
.contentBlog strong{
    font-size: 20px;
    color: orange;
    font-weight: 600;
}
.contentBlog h6{
    color: rgb(48, 46, 46);
}